#dances {
    background-color: var(--color-bg-grey);
    padding-top: 15vw;
}

.dances__curtain {
    width: 22vw;
    height: auto;
}

.dances__curtains {
    z-index: 1;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dances__curtain--left {
    margin-top: -15vw;
    transform: translateX(-0.5vw);
}

.dances__curtain--right {
    margin-top: -15vw;
    transform: translateX(0.5vw);
}

.dances__header {
    position: relative;
    z-index: 2;
    width: 100%;
    padding-left: 12vw;
    padding-right: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dances__intro {
    display: flex;
    flex-direction: column;
    gap: 4svw;
}

.dances__title {
    margin-top: -2vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    text-transform: uppercase;
    width: max-content;

    display: flex;
    flex-direction: column;
    align-items: start;

    font-family: var(--font-heading);
    line-height: 0.6;
    font-size: 6vw;
    font-weight: 100;

    :nth-child(1) {
        color: var(--color-fg-grey-common);
    }

    :nth-child(2) {
        color: var(--color-fg-grey-accent);
    }
}

.dances__title-line-2 {
    transform: translateX(6vw);
}

.dances__subtitle {
    font-family: var(--font-body);
    color: var(--color-fg-grey-common);
    font-size: 2vw;
    text-align: center;
    transform: translateX(2vw);
    font-weight: 100;
    max-width: 30vw;
}

.dances__mission {
    text-align: center;
    font-family: var(--font-quote);
    color: var(--color-fg-grey-common);
    font-size: 2vw;
    line-height: 0.9;
    max-width: 35vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vw;
}

.dances__mission-icon {
    width: 30vw;
    height: auto;
}

.dances__decoration--soffits {
    margin-top: 8vw;
    width: 114%;
    transform: translateX(-6%);
}

.dances__repertoire {
    margin-top: 10vw;
}

.dances__repertoire-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;

    font-family: var(--font-body);
    color: var(--color-fg-grey-common);
    font-size: 2vw;

    margin-top: 4vw;
}

.dances__repertoire-title {
    max-width: 30vw;
    text-align: center;
}

.dances__repertoire-icon {
    width: 12vw;
    height: auto;
}

.dances__cards {
    display: flex;
    font-family: var(--font-heading);
    font-size: 4vw;
    color: var(--color-fg-grey-accent);
    text-transform: uppercase;
    margin-top: 8vw;
}

.dances__card {
    margin-top: 4vw;
    position: relative;
    display: flex;
    flex-direction: column;
}

.dances__card-2 {
    transform: translateX(-6vw);
}

.dances__card-image-1 {
    transform: translateY(-1vw);
}

.dances__card-image-2 {
    transform: scale(1.1) translateY(-2vw);
}

.dances__card-label-1 {
    position: absolute;
    transform: translate(3vw, 1vw);
}

.dances__card-label-2 {
    position: absolute;
    transform: translate(28vw, 1vw);
}

.dances__card-image {
    height: 60vw;
}

.dances__quote-block {
    width: 100%;
    display: flex;
    gap: 6vw;
    justify-content: center;
    align-items: center;
    margin-top: 10vw;
    position: relative;

    font-family: var(--font-quote);
    color: var(--color-fg-grey-common);
    line-height: 0.9;
    font-size: 3vw;
    text-align: center;
}

.dances__quote {
    max-width: 60vw;
}

.dances__notes {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.dances__note {
    width: 8vw;
}

.dances__notes--2 {
    gap: 3vw;
}

.dances__note--2 {
    transform: translateX(3vw);
}

.dances__note--4 {
    transform: translateX(-4vw);
}

.dances__background--socks {
    margin-top: -4vw;
    width: 110%;
    transform: translate(-4vw, 12vw);
}

@media (max-width: 650px) {
    .dances__title {
        font-size: 8vw;
    }

    .dances__intro {
        margin-left: 4vw;
    }

    .dances__curtain {
        width: 30vw;
        height: auto;
    }

    .dances__curtain--left {
        margin-top: -15vw;
        transform: translateX(-0.5vw);
    }

    .dances__curtain--right {
        margin-top: -15vw;
        transform: translateX(0.5vw);
    }

    .dances__subtitle {
        font-size: 2.8vw;
        max-width: 40vw;
    }

    .dances__mission {
        align-self: flex-end;
        font-size: 3vw;
        max-width: 55vw;
    }

    .dances__header {
        width: 100%;
        flex-direction: column;
        gap: 8vw;
    }

    .dances__card-1 {
        p {
            transform: translateX(3vw);
        }
    }

    .dances__card-2 {
        margin-top: 30vw;

        p {
            transform: translateX(28vw);
        }
    }

    .dances__repertoire-title {
        max-width: 50vw;
        font-size: 2.8vw;
    }

    .dances__quote {
        font-size: 3.4vw;
    }
}