#filials {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filials__decoration {
    position: absolute;
    height: auto;
}

.filials__decoration--pomegranate-1 {
    width: 30vw;
    top: -10vw;
    left: -8vw;
    transform: rotate(-10deg);
}

.filials__decoration--pomegranate-2 {
    width: 20vw;
    bottom: -4vw;
    right: -6vw;
    transform: rotate(10deg);
}

.filials__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0vw 4vw;
}

.filials-section__header {
    margin-top: 8vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.filials-section__title {
    margin-left: 22vw;
    position: relative;

    text-transform: uppercase;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1vw;

    font-family: var(--font-heading);
    line-height: 0.6;
    font-size: 8vw;
    font-weight: 100;

    :nth-child(1) {
        color: var(--color-fg-white-common);
        transform: translate(-8vw);
    }

    :nth-child(2) {
        color: var(--color-fg-white-accent);
    }
}

.filials-section__groups {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1vw;
}

.filials-section__group-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2vw;
    gap: 1vw;
    font-family: var(--font-body);
    color: var(--color-fg-white-common);
}

.filials-section__group-dot {
    width: 3vw;
    aspect-ratio: 1;
    border-radius: 1vw;
}

.filials-section__group-dot.red {
    background-color: var(--color-urartu-1);
}

.filials-section__group-dot.yellow {
    background-color: var(--color-urartu-5);
}

.filials-section__group-dot.green {
    background-color: var(--color-bg-green);
}

.filials-section__group-age {
    width: 6vw;
}

.filials-section__cards {
    margin-top: 6vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    :nth-child(1) {
        column-span: 2;
    }
}

.filials-section__card {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1vw;
    width: min-content;

    font-family: var(--font-body);
    color: var(--color-fg-white-common);
    font-size: 2vw;
}

.filials-section__card-map {
    overflow: hidden;
    width: 28vw;
    height: auto;
    aspect-ratio: auto 16/9;
    border: 0.3vw solid var(--color-fg-white-accent);
    border-radius: 2vw;
    background-color: var(--color-fg-white-accent);

    img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
}

.filials-section__card-colors__wrapper {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.filials-section__card-color {
    width: 3vw;
    aspect-ratio: 1;
    border-radius: 1vw;
}

.filials-section__card-color.red {
    background-color: var(--color-urartu-1);
}

.filials-section__card-color.yellow {
    background-color: var(--color-urartu-5);
}

.filials-section__card-color.green {
    background-color: var(--color-bg-green);
}