#filials {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filials__decoration {
    position: absolute;
    height: auto;
}

.filials__decoration--pomegranate-1 {
    width: 30vw;
    top: -10vw;
    left: -8vw;
    transform: rotate(-10deg);
}

.filials__decoration--pomegranate-2 {
    width: 20vw;
    bottom: -4vw;
    right: -6vw;
    transform: rotate(10deg);
}

.filials__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0vw 4vw;
}

.filials-section__header {
    margin-top: 8vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.filials-section__title {
    margin-left: 22vw;
    position: relative;

    text-transform: uppercase;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1vw;

    font-family: var(--font-heading);
    line-height: 0.6;
    font-size: 8vw;
    font-weight: 100;

    :nth-child(1) {
        color: var(--color-fg-white-common);
        transform: translate(-8vw);
    }

    :nth-child(2) {
        color: var(--color-fg-white-accent);
    }
}

.filials-section__groups {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1vw;
}

.filials-section__group-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2vw;
    gap: 1vw;
    font-family: var(--font-body);
    color: var(--color-fg-white-common);
}

.filials-section__group-dot {
    width: 3vw;
    aspect-ratio: 1;
    border-radius: 1vw;
}

.filials-section__group-dot.red {
    background-color: var(--color-urartu-1);
}

.filials-section__group-dot.yellow {
    background-color: var(--color-urartu-5);
}

.filials-section__group-dot.green {
    background-color: var(--color-bg-green);
}

.filials-section__group-age {
    width: 6vw;
}

.filials-section__cards {
    margin-top: 2vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filials-section__card {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1vw;
    width: min-content;

    font-family: var(--font-body);
    color: var(--color-fg-white-common);
    font-size: 2vw;
}

.filials-section__card-map {
    overflow: hidden;
    width: 28vw;
    height: auto;
    aspect-ratio: auto 16/9;
    border: 0.3vw solid var(--color-fg-white-accent);
    border-radius: 2vw;
    background-color: var(--color-fg-white-accent);

    img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
}

.filials-section__card-colors__wrapper {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.filials-section__card-color {
    width: 3vw;
    aspect-ratio: 1;
    border-radius: 1vw;
}

.filials-section__card-color.red {
    background-color: var(--color-urartu-1);
}

.filials-section__card-color.yellow {
    background-color: var(--color-urartu-5);
}

.filials-section__card-color.green {
    background-color: var(--color-bg-green);
}

.filials__city {
    margin-top: 2vw;
    font-size: 3vw;
    line-height: 0.9;
    color: var(--color-fg-white-accent);
    font-family: var(--font-quote);
    width: 100%;
    text-align: center;
}

.filials-section__card-info__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

@media (max-width: 800px) {
    #filials {
        height: 120vh;
        margin-bottom: 24vw;
    }

    .filials-section__title {
        margin-top: 8vw;
    }

    .filials__decoration--pomegranate-1 {
        width: 35vw;
    }

    .filials__decoration--pomegranate-2 {
        width: 35vw;
        transform: rotate(-20deg);
        bottom: -24vh;
        right: -6vw;
    }

    .filials__city {
        margin-top: 3vw;
    }

    .filials-section__group-dot {
        width: 4vw;
    }

    .filials-section__group-item {
        font-size: 2.4vw;
    }

    .filials-section__group-age {
        width: auto;
    }

    .filials-section__header {
        flex-direction: column;
        gap: 4vw;
    }

    .filials-section__groups {
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
    }

    .filials-section__cards {
        margin-top: 6vw;
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start;
        gap: 4vw;
    }

    .filials-section__card {
        width: auto;
        flex-direction: row;
        align-items: center;
        gap: 4vw;
    }

    .filials-section__card-map {
        width: 50vw;
    }

    .filials-section__card-address {
        font-size: 3vw;
    }

    .filials-section__card-schedule {
        font-size: 3vw;
    }

    .filials-section__card-color {
        width: 5vw;
    }
}

@media (max-width: 650px) {
    #filials {
        height: 100vh;
        margin-bottom: 0;
    }

    .filials-section__title {
        margin-top: 0;
    }

    .filials__decoration--pomegranate-2 {
        width: 35vw;
        transform: rotate(-20deg);
        bottom: -18vw;
    }
}