#hero {
    width: 100%;
    height: 100vh;
    background-color: var(--color-bg-white);
}

.hero__wrapper {
    position: relative;
    z-index: 2;
    height: 100vh;
    padding-top: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hero__main-image {
    transform: translate(1vw, 4.1vw);
    width: 111vw;
    height: auto;
}

.hero__header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vw;
}

.hero__link {
    font-family: var(--font-nav);
    font-size: 2vw;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: -6%;
    color: var(--color-fg-white-accent);
}

.hero__logo-image {
    width: 64px;
    height: auto;
}

.hero__title_wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
    transform: translateY(3vw);
}

.hero__title {
    display: flex;
    flex-direction: row;
    font-size: 16vw;
    font-weight: 500;
    letter-spacing: 0%;
    font-family: var(--font-heading);
    gap: 6px;

    span {
        display: inline-flex;
    }
}

.hero__subtitle {
    font-family: var(--font-body);
    font-size: 2.5vw;
    color: var(--color-fg-white-accent);
    transform: translateX(20px);
    font-weight: 100;
}

.hero__decoration {
    position: absolute;
    z-index: 1;
}

.hero__decoration--wheat-1 {
    top: 10vh;
    left: -18vh;
    height: 100%;
    width: auto;
}

.hero__decoration--wheat-2 {
    top: 45vh;
    right: -16vh;
    transform: translateY(-40%);
    height: 80%;
    width: auto;
}

.hero__decoration--wheat-3 {
    top: 55vh;
    right: -18vh;
    transform: translateY(-50%) rotate(10deg);
    height: 35%;
    width: auto;
}

@media (max-width: 650px) {
    .hero__decoration {
        display: none;
    }

    .hero__link {
        display: none;
    }

    .hero__header {
        justify-content: center;
    }

    .hero__title {
        font-size: 18vw;
    }

    .hero__subtitle {
        font-size: 4vw;
    }

    .hero__main-image {
        width: 300vw;
        height: auto;
        transform: translate(70vw, 10vw);
    }
}